/* Colors for Types */

.grass {
  background-color: rgb(155, 203, 80);
}

.poison {
  background-color: rgb(186, 127, 200);
  color: antiquewhite;
}

.rock {
  background-color: rgb(163, 143, 33);
  color: antiquewhite;
}

.fire {
  background-color: rgb(255, 125, 37);
}

.electric {
  background-color: rgb(238, 213, 53);
}

.ground {
  background-color: rgb(209, 187, 64);
  color: antiquewhite;
}

.water {
  background-color: rgb(69, 146, 195);
  color: antiquewhite;
}

.bug {
  background-color: rgb(110, 156, 60);
  color: antiquewhite;
}

.flying {
  background-color: rgb(125, 192, 211);
}

.normal {
  background-color: rgb(163, 172, 175);
  color: antiquewhite;
}

.fairy {
  background-color: rgb(253, 185, 233);
}

.fighting {
  background-color: rgb(213, 113, 35);
  color: antiquewhite;
}

.psychic {
  background-color: rgb(243, 102, 185);
}

.steel {
  background-color: rgb(158, 183, 184);
  color: antiquewhite;
}

.ice {
  background-color: rgb(81, 195, 231);
}

.ghost {
  background-color: rgb(123, 98, 163);
  color: antiquewhite;
}

.dragon {
  background-color: rgb(241, 110, 87);
  color: antiquewhite;
}

.dark {
  background-color: rgb(112, 112, 112);
  color: antiquewhite;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
  color: white;
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: 2em;
}

.table {
  margin-top: 5em;
  margin-left: 0.3em;
}

.row {
  width: 73em;
  margin: 0 auto;
}

.card figcaption {
  font-size: 1.25em;
  text-align: center;
  width: 100%;
  margin-top: 3em;
  font-weight: 400;
  color: white;
  background-color: #dd1447a8;
  padding-bottom: 0.1em;
  border-radius: 2em;
}

.dex {
  display: table;
  border-spacing: 2em;
  box-sizing: border-box;
  margin: 0 auto;
}

.card {
  display: table-cell;
  margin: 0 auto;
  height: 30em;
  width: 16em;
  background-color: rgb(173, 216, 230, 0.9);
  border-radius: 1.5em;
}

.card:hover {
  box-shadow: 0 0 1.5em white;
}

.card figure {
  height: 14em;
  width: 14em;
  margin: 1em auto;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom right, crimson, black, white);
  border-radius: 50%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.585);
}

.attributes {
  padding-left: 1em;
  font-weight: 700;
}

.value {
  width: 64%;
  text-align: right;
}

img {
  height: 12em;
}

.page {
  background-image: url(https://wallpaper.dog/large/17070454.jpg);
  background-size:cover;
}

.content {
  overflow: scroll;
  height: 80%;
}