body {
  font-size: 16px;
  text-align: center;
}

.page h1 {
  font-size: 16em;
  color: white;
}

#page-1 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png);
  aspect-ratio: 2.7;
  background-size: contain;
  background-repeat: no-repeat;
  height: 75%;
  border: 2px solid black;
}

.gradient {
  background: linear-gradient(blue, yellow);
}